@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

:root{
    --background: linear-gradient(
        to bottom,
        #14213d 0%, 
        #240046 100%
        
      );
    --text-color: #fff;
    --text-color-light: rgba(201, 199, 201, 0.1);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background: var(--background);
    height: 100vh;
    
}
img{
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
.section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 20px;
    color: var(--text-color);

}
.image{
    width: 400px;
    height: 95vh;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);}
.image img{
    width: 400px;
    height: 100vh;
}
.main-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    right: 0;
    z-index: 10;
}
.search{
    width: 100%;
    height: 50px;
    border-radius: 30px;
    border: none;
    background:var(--text-color-light);
}
.search::placeholder {
    color: #f7f6f6;
    font-style: italic;
  }
  .nav-icons{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .click-to-scroll{
    display: flex;
    font-size: 50px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;   
  }
  .circle-pp{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--text-color-light);
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--text-color);
    gap: 20px;
    cursor: pointer;
    margin: 10px solid var(--text-color-light);
  }
  .content{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    z-index: 10;


  }
  .content-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .follow-profile{
    position: relative;
  }
  .click-to-follow{
    position: absolute;
    bottom: -15px;
  }
  .circle-pp img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;

    
    
  }
  .circle-one img{
    animation: spin 10s linear infinite;
    transform-origin: center;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  
  .circle-pp .profile{
    overflow: hidden;
    width: 50px;
    height: 50px;
  }
  .live{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 50px;
    border-radius: 30px;
    border: none;
    background: #2f2853;
    font-weight: 700;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .scroll-section{
    display: flex;
    gap: 20px;
  }
  .mid{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 95vh;
    overflow-y: auto;
    scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none; 
  left: 0;
  right: 0;
  top: 20px;
  }
  section {
    flex-shrink: 0;
  }
 